<section class="aligncenter jumbotron">
    <h1>Sök väderdata eller ta bort väderdata</h1>
    <p>På denna sida kan man söka efter väderdata utefter stationsnamn. Man kan också radera väderdata.</p>
</section>

<section ng-controller="vaderdata" class="form-section">
    <section class="col-xs-9">

        <section class="marginleft sokStation col-xs-5">
            <form>
                <label for="sel5">Station</label>
                <select id="sel5" class="form-control" name="station" ng-change="getVaderdata()" ng-model="station.station">
                    <option ng-repeat="Object in station.$$state.value" ng-value="Object.id">{{Object.name}}</option>
                </select>
            </form>
        </section>

        <section class="deleteall col-xs-5">
            <button type="button" class="btn btn-danger btn-block">Ta bort all väderdata</button>
        </section>

        <table class="  table table-striped col-lg-12   ">
            <thead>
            <tr>
                <th>Station</th>
                <th>Temp</th>
                <th>Luftfuktighet</th>
                <th>Vindstyrka</th>
                <th>Molnbashöjd</th>
                <th>Okta</th>
                <th>Lufttryck</th>
                <th>Molntyp</th>
                <th>Vindriktning</th>
                <th>Tid</th>
                <th>Datum</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Object in getVaderdata.$$state.value">
                <th>{{Object.name}}</th>
                <th>{{Object.temp}}</th>
                <th>{{Object.humidity}}</th>
                <th>{{Object.windForce}}</th>
                <th>{{Object.cloudBase}}</th>
                <th>{{Object.okta}}</th>
                <th>{{Object.airPressure}}</th>
                <th>{{Object.cloudType}}</th>
                <th>{{Object.windDirection}}</th>
                <th>{{}}</th>
                <th>{{Object.date}}</th>
            </tr>
            </tbody>
        </table>

        <section class="col-xs-5 marginleft">
            <button type="button" class="btn btn-danger btn-block">Ta bort markerad väderdata</button>
        </section>
    </section>
</section>