<section class="aligncenter jumbotron">
    <h1>Sök väderdata eller ta bort väderdata</h1>
    <p>På denna sida kan man söka efter väderdata utefter stationsnamn. Man kan också radera väderdata.</p>
</section>

<section ng-controller="vaderdata" class="form-section">
    <section class="col-xs-9">

        <section class="marginleft sokStation col-xs-5">
            <form>
                <label for="sel5">Station</label>
                <select id="sel5" class="form-control" name="selectedStation" ng-model="selectedStation">
                    <option ng-repeat="Object in stations.$$state.value" ng-value="$index">{{Object.name}}</option>
                </select>
            </form>

            <div id="pushThatShit" ng-if="myVar">
                <input id="filter" class="form-control" ng-model="searchvalue">
                <button class="btn btn-danger btn-block" ng-click="filterWeatherInfoList(searchvalue)">Search</button>
            </div>
        </section>

        <section class="deleteall col-xs-5">
            <button type="button" class="btn btn-danger btn-block" ng-click="deleteAllWeatherInfoAndStations()">Ta bort
                all väderdata
            </button>

            <label for="tabletype">Filtertyp Station eller sök</label>
            <input id="tabletype" type="checkbox" ng-model="myVar" ng-init="myVar = false">
        </section>

        <div ng-if="!myVar">
            <table class="  table table-striped col-lg-12   ">
                <thead>
                <tr>
                    <th>Temp</th>
                    <th>Luftfuktighet</th>
                    <th>Vindstyrka</th>
                    <th>Molnbashöjd</th>
                    <th>Okta</th>
                    <th>Lufttryck</th>
                    <th>Molntyp</th>
                    <th>Vindriktning</th>
                    <th>Datum/Tid</th>
                </tr>
                </thead>
                <tr ng-repeat="Object in stations.$$state.value[selectedStation].weatherInfo">
                    <th><input class="inputWidth" ng-model="Object.temp"></th>
                    <th><input class="inputWidth" ng-model="Object.humidity"></th>
                    <th><input class="inputWidth" ng-model="Object.windForce"></th>
                    <th><input class="inputWidth" ng-model="Object.cloudBase"></th>
                    <th><input class="inputWidth" ng-model="Object.okta"></th>
                    <th><input class="inputWidth" ng-model="Object.airPressure"></th>
                    <th><input class="inputWidth" ng-model="Object.cloudType"></th>
                    <th><input class="inputWidth" ng-model="Object.windDirection"></th>
                    <th><input class="inputWidth2" ng-model="Object.date"></th>
                    <th>
                        <button type="button" class="close" ng-click="UpdateWeatherInfo(Object.id, Object.temp, Object.date, Object.airPressure, Object.humidity,
                        Object.windForce, Object.cloudBase, Object.okta,Object.cloudType, Object.windDirection, stations.$$state.value[selectedStation].id )">
                            <span aria-hidden="true">Update</span></button>
                    </th>
                    <th>
                        <button type="button" class="close" ng-click="deleteWeatherInfoAndUpdate(Object.id)"><span
                                aria-hidden="true">&times;</span></button>
                    </th>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>


        <div ng-if="myVar">
            <table class="  table table-striped col-lg-12   ">
                <thead>
                <tr>
                    <th>Temp</th>
                    <th>Luftfuktighet</th>
                    <th>Vindstyrka</th>
                    <th>Molnbashöjd</th>
                    <th>Okta</th>
                    <th>Lufttryck</th>
                    <th>Molntyp</th>
                    <th>Vindriktning</th>
                    <th>Datum/Tid</th>
                </tr>
                </thead>
                <tr ng-repeat="Object in tableArray">
                    <th><input class="inputWidth" ng-model="Object.temp"></th>
                    <th><input class="inputWidth" ng-model="Object.humidity"></th>
                    <th><input class="inputWidth" ng-model="Object.windForce"></th>
                    <th><input class="inputWidth" ng-model="Object.cloudBase"></th>
                    <th><input class="inputWidth" ng-model="Object.okta"></th>
                    <th><input class="inputWidth" ng-model="Object.airPressure"></th>
                    <th><input class="inputWidth" ng-model="Object.cloudType"></th>
                    <th><input class="inputWidth" ng-model="Object.windDirection"></th>
                    <th><input class="inputWidth2" ng-model="Object.date"></th>
                    <th>
                        <button type="button" class="close" ng-click="UpdateWeatherInfo(Object.id, Object.temp, Object.date, Object.airPressure, Object.humidity,
                        Object.windForce, Object.cloudBase, Object.okta,Object.cloudType, Object.windDirection, stations.$$state.value[selectedStation].id )">
                            <span aria-hidden="true">Update</span></button>
                    </th>
                    <th>
                        <button type="button" class="close" ng-click="deleteWeatherInfoAndUpdate(Object.id)"><span
                                aria-hidden="true">&times;</span></button>
                    </th>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
</section>