<section class="aligncenter jumbotron">
    <h1>Sök väderdata eller ta bort väderdata</h1>
    <p>På denna sida kan man söka efter väderdata utefter stationsnamn. Man kan också radera väderdata.</p>
</section>

<section ng-controller="vaderdata" class="form-section">
    <section class="col-xs-9">

        <section class="marginleft sokStation col-xs-5">
            <form>
                <label for="sel5">Station</label>
                <select id="sel5" class="form-control" name="station" ng-model="selectedStation">
                    <option ng-repeat="Object in stations.$$state.value" ng-value="$index">{{Object.name}}</option>
                </select>
            </form>
        </section>

        <section class="deleteall col-xs-5">
            <button type="button" class="btn btn-danger btn-block">Ta bort all väderdata</button>
        </section>

        <table class="  table table-striped col-lg-12   ">
            <thead>
            <tr>
                <th>Station</th>
                <th>Temp</th>
                <th>Luftfuktighet</th>
                <th>Vindstyrka</th>
                <th>Molnbashöjd</th>
                <th>Okta</th>
                <th>Lufttryck</th>
                <th>Molntyp</th>
                <th>Vindriktning</th>
                <th>Tid</th>
                <th>Datum</th>
            </tr>
            </thead>
            <tr ng-repeat="Object in stations.$$state.value[selectedStation].weatherInfo">
                <th><input class="inputWidth" ng-model="Object.temp"></th>
                <th><input class="inputWidth" ng-model="Object.humidity"></th>
                <th><input class="inputWidth" ng-model="Object.windForce"></th>
                <th><input class="inputWidth" ng-model="Object.cloudBase"></th>
                <th><input class="inputWidth" ng-model="Object.okta"></th>
                <th><input class="inputWidth" ng-model="Object.airPressure"></th>
                <th><input class="inputWidth" ng-model="Object.cloudType"></th>
                <th><input class="inputWidth" ng-model="Object.windDirection"></th>
                <th>{{}}</th>
                <th><input class="inputWidth" ng-model="Object.date"></th>
                <th>
                    <button type="button" class="close" ng-click="deleteWeatherInfoAndUpdate(Object.id)"><span aria-hidden="true">&times;</span></button>
                </th>
            </tr>
            <tbody>
            </tbody>
        </table>

        <section class="col-xs-5 marginleft">
            <button type="button" class="btn btn-danger btn-block">Ta bort markerad väderdata</button>
        </section>
    </section>
</section>