<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section>
    <section ng-controller="userlogin" class="form-section">
        <section class="col-xs-3">
            <label for="input2">Användarnamn</label>
            <input ng-model="username" class="form-control" id="input2">

            <label for="input3">Lösenord</label>
            <input ng-model="password" class="form-control" id="input3">

            <button ng-click="login(usernname, password)"
                    type="button" class="loginbutton btn btn-success btn-block">Logga in
            </button>

            <label id="loginerror"></label>
        </section>
    </section>
</section>
</body>
</html>