<section class="aligncenter jumbotron">
    <h1>Lägg till väderdata</h1>
    <p>På denna sida lägger man till väderdata, stationer och molntyper.</p>
</section>

<section ng-controller="vaderdata" class="form-section">
        <section class="col-xs-3">
            <label for="sel1">Station</label>
            <select class="form-control" id="sel1">
                <option>Stockholm</option>
                <option>Göteborg</option>
                <option>Lund</option>
                <option>Umeå</option>
            </select>

            <label for="input2">Temp</label>
            <input ng-model="temp"  class="form-control" id="input2">

            <label for="input3">Luftfuktighet</label>
            <input ng-model="luftfuktighet" class="form-control" id="input3">

            <label for="input4">Vindstyrka</label>
            <input ng-model="vindstyrka" class="form-control" id="input4">

            <label for="input5">Molnbashöjd</label>
            <input ng-model="molnbashojd" class="form-control" id="input5">

            <label for="input6">Delar av himmeln täckt av moln  </label>
            <input ng-model="himmel" class="form-control" id="input6">

            <label for="input7">Lufttryck</label>
            <input ng-model="lufttryck" class="form-control" id="input7">

            <button ng-click="vader(temp, luftfuktighet, vindstyrka, molnbashojd, himmel, lufttryck)"
                    type="button" class="vaderbutton btn btn-success btn-block">Lägg till väderdata</button>

            <p>
                {{temp}}°C
                {{luftfuktighet}}%
                {{vindstyrka}}m/s
                {{molnbashojd}}km
                {{himmel}}%
                {{lufttryck}}%
            </p>

        </section>

    <section class="col-xs-3">
        <label for="sel2">Molntyper</label>
        <select class="form-control" id="sel2">
            <option>Valkmoln</option>
            <option>Dimmoln</option>
        </select>
        <label for="sel3">Vindriktning</label>
        <select class="form-control" id="sel3">
            <option>Nord</option>
            <option>Syd</option>
        </select>

        <label for="input1">Klockslag</label>
        <input class="form-control" id="input1">


        <label>Datum</label>
        <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control datepicker"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
    </section>

    <section class="col-xs-3">

        <label for="inputS1">Lägg till station</label>
        <input class="form-control" id="inputS1">
        <button type="button" class="vaderbutton btn btn-success btn-block">Lägg till station</button>

        <label for="inputS2">Lägg till molntyp</label>
        <input class="form-control" id="inputS2">
        <button type="button" class="vaderbutton btn btn-success btn-block">Lägg till molntyp</button>

    </section>

</section>