<section class="aligncenter jumbotron">
    <h1>Lägg till väderdata</h1>
    <p>På denna sida lägger man till väderdata, stationer och molntyper.</p>
</section>

<section ng-controller="vaderdata" class="form-section">
        <section class="col-xs-3">
            <label for="input2">Temperatur</label>
            <input ng-model="temperatur"  class="form-control" id="input2">

            <label for="input3">Luftfuktighet</label>
            <input ng-model="luftfuktighet" class="form-control" id="input3">

            <label for="input4">Vindstyrka</label>
            <input ng-model="vindstyrka" class="form-control" id="input4">

            <label for="input5">Molnbashöjd</label>
            <input ng-model="molnbashojd" class="form-control" id="input5">

            <label for="input6">Mängd moln i %</label>
            <input ng-model="himmel" class="form-control" id="input6">

            <label for="input7">Lufttryck</label>
            <input ng-model="lufttryck" class="form-control" id="input7">

            <button ng-click="vader(station1.stationer, temperatur, date, lufttryck, luftfuktighet, vindstyrka, molnbashojd, himmel, molntyp1.molntyp, vindriktning1.vindriktning)"
                    type="button" class="vaderbutton btn btn-success btn-block">Lägg till väderdata</button>
        </section>

    <section class="col-xs-3">
        <form>
            <label for="sel1">Station</label>
            <select id="sel1" class="form-control" name="stationer" ng-model="station1.stationer">
                <option ng-repeat="option in station1.availableOptions" ng-value="option.value">{{option.name}}</option>
            </select>

            <label for="sel2">Molntyp</label>
            <select id="sel2" class="form-control" name="molntyp" ng-model="molntyp1.molntyp">
                <option ng-repeat="option in molntyp1.availableOptions" ng-value="option.value">{{option.value}}</option>
            </select>

            <label for="sel3">Vindriktning</label>
            <select id="sel3" class="form-control" name="vindriktning" ng-model="vindriktning1.vindriktning">
                <option ng-repeat="option in vindriktning1.availableOptions" ng-value="option.value">{{option.value}}</option>
            </select>
        </form>


        <p>
            Station: {{station1.stationer}}
        </p>
        <p>
            Molntyp: {{molntyp1.molntyp}}
        </p>
        <p>
            Vindriktning: {{vindriktning1.vindriktning}}
        </p>
        <p>
            {{temperatur}}°C
        </p>
        <p>
            {{luftfuktighet}}%
        </p>
        <p>
            {{vindstyrka}}m/s
        </p>
        <p>
            {{molnbashojd}}km
        </p>
        <p>
            {{himmel}}%
        </p>
        <p>
            {{lufttryck}}%
        </p>

        <!--<label for="input1">Klockslag</label>-->
        <!--<input class="form-control" id="input1">-->


        <!--<label>Datum</label>-->
        <!--<div class="input-group date" data-provide="datepicker">-->
            <!--<input type="text" class="form-control datepicker"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
        <!--</div>-->
    </section>

    <section class="col-xs-3">

        <label for="inputS1">Lägg till station</label>
        <input ng-model="addStation" class="form-control" id="inputS1">
        <button ng-click="add(addStation)" type="button" class="vaderbutton btn btn-success btn-block">Lägg till station</button>
        
    </section>
</section>