label{
    margin-top: 10px;
}

.aligncenter{
    text-align: center;
}

.form-section{
    margin-left: 330px;
    margin-top: 20px;
}

.vaderbutton{
    margin-top: 20px;
}
.loginbutton{
    margin-top: 20px;
}

.sokStation{
    margin-bottom: 30px;
}

.deleteall{
    margin-top: 34px;
}

.margintop{
    margin-top: -31px;
}

.marginleft{
    margin-left: -15px;
}

.frontpageheight{
    height: 258px;
}